#bigdiv {
  justify-content: flex-start;
  background-color: #121212;
  width: 350px;
  height: 70px;
  overflow: hidden;
  margin-left: -500px;
  padding: 0;


}
#smalldiv {
  height: 70px;
  overflow: hidden;
  margin-top: -70px;
  margin-left: 70px;
  padding: 0;

}

#image {
  width: 70px;
  height: 70px;
  padding: 0;
  margin-left: 0;
  position: relative;
  z-index: 5;
}

#image2 {
  width: 70px;
  height: 70px;
  padding: 0;
  position: relative;
  margin-left: -74px;
  z-index: 10;
}


body{
  background-color: #ffffff;
  padding: 0 !important;
  margin: 0 !important;
}

#artist {
  color: hsl(355, 100%, 68%);
  text-transform: uppercase;
  font-family: "proxima-nova", sans-serif;
  margin-top: 5px;
  margin-left: 7px;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 10px;
  display: inline-block;
}

#song {
  
  color: #ffffff;
  font-size: 24px;
  font-family: "proxima-nova", sans-serif;
  margin-top: -5px;
  margin-left: 7px;
  font-weight: bold;
  display: inline-block;
}

p {
  white-space: nowrap;
}

.scrolling {
  animation: slide 20s linear infinite;
}

@keyframes slide {
  0% {
    /* left: 100%; */
    transform: translateX(290px);
}

  100% {
    /* left: -100%; */
    transform: translateX(-100%);
}
}
